<!-- Cards with media area -->

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>LLamadas por Hora</mat-card-title>
    <mat-card-subtitle>En Linea</mat-card-subtitle>
    <img mat-card-lg-image src="assets/reporte.png" >
  </mat-card-title-group>
  <mat-card-content>
    {{longText}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Consultar
      <mat-icon>trending_up</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>LLamadas por Hora</mat-card-title>
    <mat-card-subtitle>Historico</mat-card-subtitle>
    <img mat-card-lg-image src="assets/reporte.png" >
  </mat-card-title-group>
  <mat-card-content>
    {{longText}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Consultar
      <mat-icon>trending_up</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>