<mat-toolbar>REPORTE {{reporteName}} {{empresaparametro}}</mat-toolbar>  
 <div class="example-containe mat-elevation-z8">
   <form method="POST">
     
<div>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Selecccione las fechas</mat-label>
      <mat-date-range-input
        [formGroup]="campaignOne"
        [rangePicker]="campaignOnePicker"
        [comparisonStart]="campaignTwo.value.start"
        [comparisonEnd]="campaignTwo.value.end">
        <input matStartDate placeholder="Start date" formControlName="start" [(ngModel)]="fechaInicio">
        <input matEndDate placeholder="End date" formControlName="end" [(ngModel)]="fechaFin">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar
      <mat-icon>trending_up</mat-icon>
    </button>
  </div>
  </form>
</div>

<mat-form-field appearance="standard">
  <mat-label >Buscar</mat-label>
  <input matInput (keyup)="filtro($event)" placeholder="Reportes" #input>
</mat-form-field>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

    <ng-container matColumnDef="fecha_llamada">
      <th mat-header-cell *matHeaderCellDef> FECHA </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_llamada | date:"shortDate" }} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="no_calificadas">
      <th mat-header-cell *matHeaderCellDef> CALIFICADAS </th>
      <td mat-cell *matCellDef="let element"> {{element.no_calificadas}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="calif_positiva">
      <th mat-header-cell *matHeaderCellDef> CAL. POSITIVA </th>
      <td mat-cell *matCellDef="let element"> {{element.calif_positiva}} </td>
    </ng-container>

    <ng-container matColumnDef="calif_negativo">
      <th mat-header-cell *matHeaderCellDef> CAL. NEGATIVA </th>
      <td mat-cell *matCellDef="let element"> {{element.calif_negativo}} </td>
    </ng-container>

    <ng-container matColumnDef="total_llamadas">
      <th mat-header-cell *matHeaderCellDef> TOTAL LLAMADAS </th>
      <td mat-cell *matCellDef="let element"> {{element.total_llamadas}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> TELEFONO </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>
  
  
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
  </table>

  <div>
    <button mat-raised-button color="accent" (click)="exportarTodo()">Descarga
      <mat-icon>laptop</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="exportarFiltro()">Filtro
      <mat-icon>phone_android</mat-icon>
    </button>
  
  </div>


<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
