      
<mat-toolbar>REPORTE {{reporteName}} {{empresaparametro}}</mat-toolbar>
<router-outlet></router-outlet>

<mat-card class="card-cli-form">
<div class="example-containe mat-elevation-z8">
 <form method="POST">   
<div>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Selecccione las fechas</mat-label>
    <mat-date-range-input
      [formGroup]="campaignOne"
      [rangePicker]="campaignOnePicker"
      [comparisonStart]="campaignTwo.value.start"
      [comparisonEnd]="campaignTwo.value.end">
      <input matStartDate placeholder="Start date" formControlName="start" [(ngModel)]="fechaInicio">
      <input matEndDate placeholder="End date" formControlName="end" [(ngModel)]="fechaFin">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>
</div>
<div>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
</div>
</form>
</div>
<mat-form-field appearance="fill">
  <mat-label >Buscar</mat-label>
  <input matInput (keyup)="filtro($event)" placeholder="Reportes" #input>
</mat-form-field>
</mat-card>


<mat-card class="example-card-cli">
  <mat-card-header class="center">
    <mat-card-title>{{reporteName}}</mat-card-title>
    <mat-card-subtitle>{{empresaparametro}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>

    <div class="table-container">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef> USUARIO </th>
    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="contacto">
    <th mat-header-cell *matHeaderCellDef> CONTACTO </th>
    <td mat-cell *matCellDef="let element"> {{element.contacto}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="departamento">
    <th mat-header-cell *matHeaderCellDef> DEPARTAMENTO </th>
    <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="municipio">
    <th mat-header-cell *matHeaderCellDef> MUNICIPIO</th>
    <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
  </ng-container>
  
  <ng-container matColumnDef="tipificacion">
    <th mat-header-cell *matHeaderCellDef> TIPO </th>
    <td mat-cell *matCellDef="let element"> {{element.tipificacion}} </td>
  </ng-container>

  <ng-container matColumnDef="observacion">
    <th mat-header-cell *matHeaderCellDef> OBSERVACIÓN </th>
    <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
  </ng-container>

  <ng-container matColumnDef="fechagestion">
    <th mat-header-cell *matHeaderCellDef> FECHA </th>
    <td mat-cell *matCellDef="let element"> {{element.fechagestion}} </td>
  </ng-container>

  <ng-container matColumnDef="tipodocumento">
    <th mat-header-cell *matHeaderCellDef> TIPO DOC </th>
    <td mat-cell *matCellDef="let element"> {{element.tipodocumento}} </td>
  </ng-container>

  <ng-container matColumnDef="nrodocumento">
    <th mat-header-cell *matHeaderCellDef> DOCUMENTO </th>
    <td mat-cell *matCellDef="let element"> {{element.nrodocumento}} </td>
  </ng-container>

  <ng-container matColumnDef="razonsocial">
    <th mat-header-cell *matHeaderCellDef> RAZÓN SOCIAL </th>
    <td mat-cell *matCellDef="let element"> {{element.razonsocial}} </td>
  </ng-container>


  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> ESTADO </th>
    <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
  </ng-container>


  <ng-container matColumnDef="tipogestion">
    <th mat-header-cell *matHeaderCellDef> TIPO </th>
    <td mat-cell *matCellDef="let element"> {{element.tipogestion}} </td>
  </ng-container>


  <ng-container matColumnDef="archivo">
    <th mat-header-cell *matHeaderCellDef> ARCHIVO </th>
    <td mat-cell *matCellDef="let element"> {{element.archivo}} </td>
  </ng-container>


  <ng-container matColumnDef="telefonocelular">
    <th mat-header-cell *matHeaderCellDef> CELULAR </th>
    <td mat-cell *matCellDef="let element"> {{element.telefonocelular}} </td>
  </ng-container>

  <ng-container matColumnDef="numerocontacto">
    <th mat-header-cell *matHeaderCellDef> TELÉFONO1 </th>
    <td mat-cell *matCellDef="let element"> {{element.numerocontacto}} </td>
  </ng-container>


  <ng-container matColumnDef="telefonodirecto">
    <th mat-header-cell *matHeaderCellDef> TELÉFONO2 </th>
    <td mat-cell *matCellDef="let element"> {{element.telefonodirecto}} </td>
  </ng-container>

  <ng-container matColumnDef="ciclovida">
    <th mat-header-cell *matHeaderCellDef> CICLO </th>
    <td mat-cell *matCellDef="let element"> {{element.ciclovida}} </td>
  </ng-container>

  <ng-container matColumnDef="idgestion">
    <th mat-header-cell *matHeaderCellDef> IDGESTION </th>
    <td mat-cell *matCellDef="let element"> {{element.idgestion}} </td>
  </ng-container>

  <ng-container matColumnDef="nroempleado">
    <th mat-header-cell *matHeaderCellDef> NRO. EMPLE. </th>
    <td mat-cell *matCellDef="let element"> {{element.nroempleado}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
</table>
</div>
</mat-card-actions>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</mat-card>

<div>
<button mat-raised-button color="accent" (click)="exportarTodo()">Descarga
  <mat-icon>laptop</mat-icon>
</button>
<button mat-raised-button color="warn" (click)="exportarFiltro()">Filtro
  <mat-icon>phone_android</mat-icon>
</button>

</div>