      
<mat-toolbar>REPORTE {{reporteName}} {{empresaparametro}}</mat-toolbar>
<router-outlet></router-outlet>


<mat-card >
  <mat-card-header class="center">
    <mat-card-title >SECRETARIA</mat-card-title>
    <mat-card-subtitle>Virtual</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <div class="center">
   <mat-form-field >
     <mat-label>Selecccione las fechas</mat-label>
     <mat-date-range-input
       [formGroup]="campaignOne"
       [rangePicker]="campaignOnePicker"
       [comparisonStart]="campaignTwo.value.start"
       [comparisonEnd]="campaignTwo.value.end">
       <input matStartDate placeholder="Start date" formControlName="start" [(ngModel)]="fechaInicio">
       <input matEndDate placeholder="End date" formControlName="end" [(ngModel)]="fechaFin">
     </mat-date-range-input>
     <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
     <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </mat-form-field>

     <mat-card-subtitle>Registros para devolver</mat-card-subtitle>
     <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Por devolver</mat-label>
        <input matInput disabled [value]="regDevolver">
      </mat-form-field>
     </form>

     <mat-card-subtitle>Registros pendientes por intento o abandonadas por agente </mat-card-subtitle>
     <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Por intento</mat-label>
        <input matInput disabled [value]="regPendientes">
      </mat-form-field>
     </form>
 

     <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    </div>
   
  </mat-card-actions>
</mat-card>
